In [7]:
s='Python is easy programming to learn and interesting'
s1="python"
print(s.islower())
print(s1.islower())

False
True

In [6]:
s="Application"
s1='Praneetha'
s2='PRANEETHA'
print(s.isupper())
print(s1.isupper())
print(s2.isupper())

False
False
True

In [8]:
s="3425"
s1="App1253"
print(s.isnumeric())
print(s1.islower())

True
False

In [9]:
s="Application"
s1="App1231"
print(s.isalpha())
print(s1.isalpha())

True
False

In [13]:
s="Python programming"
s1="Python programming"
print(s.istitle())
print(s1.istitle())

False
False

In [14]:
s="Python"
s1="Python programming"
print(s.isspace())
print(s1.isspace())

False
False

## string methods

 1.join()     :join() method will conncatinate two strings
 
 2.split()    :split() returns the list of strings that are separated by whitespace if there is no parameters to given
 
 3.replace()  :replace the original string with new string

In [15]:
str="Python"
print(" ".join(str))

P y t h o n

In [24]:
s="Python, programming ,is, easy, to, learn"
print(s.split())
print(s.split("a"))
print(s.split(","))

['Python,', 'programming', ',is,', 'easy,', 'to,', 'learn']
['Python, progr', 'mming ,is, e', 'sy, to, le', 'rn']
['Python', ' programming ', 'is', ' easy', ' to', ' learn']

In [32]:
s="Python programming is easy to learn"
lst=s.split()
print(lst)
print(lst.index("is"))

['Python', 'programming', 'is', 'easy', 'to', 'learn']
2

In [34]:
s="Python programming";
print(s.replace("gra","application"))

Python proapplicationmming

In [39]:
count = 0
for letter in 'Hello World':
    if(letter=='1'):
        count +=1
print(count,'letters found')

0 letters found

## Python -- Tuples

A tuple of sequence of set of objects is like list only.

The differences of list and Tuples are,the tuples cannot be changed unlike list

List will be use square brackets hold objects<br>
tuples will use parantheses to hold objects()

Tuples are useful when the given input is only for read purpose

In [41]:
t1=("Python","Programming",1989,2019,"Machine Learning","AI")
t2=(5,8,3,6,4)
print(t1)
print(t2)

('Python', 'Programming', 1989, 2019, 'Machine Learning', 'AI')
(5, 8, 3, 6, 4)

In [45]:
t1=("Python","Programming",1989,2019,"Machine Learning","AI")
print("t1[0]= ",t1[0])
print("t1[2]= ",t1[2])
print("t1[-1]= ",t1[-1])
print("t1[2:-2]= ",t1[2:-2])

t1[0]=  Python
t1[2]=  1989
t1[-1]=  AI
t1[2:-2]=  (1989, 2019)

In [51]:
t1=("Python","Programming",1989,2019,"Machine Learning","AI")
print(t1)
#t1[2] = 2018
del t1[2]

('Python', 'Programming', 1989, 2019, 'Machine Learning', 'AI')

TypeError: 'tuple' object doesn't support item deletion

In [50]:
t1=("Python","Programming")
t2=(1989,2019,"Machine Learning","AI")
t3=t1+t2
print(t3)

('Python', 'Programming', 1989, 2019, 'Machine Learning', 'AI')

## Tuple methods

**1.len(tuple)**:-le of the tuple<br>
**2.max(tuple)**:-returns the maximum value from tuple<br>
**3.min(tuple)**:-returns the minimum value from tuple<br>
**4.cmp(tuple1,tuple2)**:-returns the value as 1 or -1<br>

In [52]:
t1=("Python","Programming",1989,2019,"Machine Learning","AI")
print(len(t1))

6

In [54]:
t1=(4,5,8,1,9,3)
t2=("Python",12,1,"Programming")
print(max(t1))
print(max(t2))

9

TypeError: '>' not supported between instances of 'int' and 'str'

In [55]:
t1=(2,5,8,4,6,1)
print(min(t1))

1

In [56]:
t1=(1,2,3,4,5)
t2=(1,2,3,4,5)
print(t1)
print(t2)
a=cmp(t1,t2)
print(a)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

NameError: name 'cmp' is not defined

## Python dictionary
....
 Dictionary each key is separated with values by colon(:)
 
 user data can be separated from comma operator 
 
 Examples:-
 
  user1={'Name':'Praneetha','Age':18,'EmailID':'praneethamadala01@gmail.com','Mobile no':'9381067301'}
  
  
**Methods**

**1.len(dictob)** -- returns a number which having length<br>
**2.str(dicobj)** -- returns the equ string tomdic object<br>
**3.copy()** --- copies the one dic object data to another dic object data<br>
4.items() --- returns a list of dic(key,value)

In [66]:
user1={'Name':'Praneetha','Age':18,'EmailID':'praneethamadala01@gmail.com','Mobile no':'9381067301'}
print("user1[Name]=",user1['Name'])
print("user1[Age]=",user1['Age'])
print("user1[EmailID]=",user1['EmailID'])
print("user1[Mobile no]=",user1['Mobile no'])

user1[Name]= Praneetha
user1[Age]= 18
user1[EmailID]= praneethamadala01@gmail.com
user1[Mobile no]= 9381067301

In [67]:
user1={'Name':'Praneetha','Age':18,'EmailID':'praneethamadala01@gmail.com','Mobile no':'9381067301'}
del user1['EmailID']
user1.clear()
del user1

In [68]:
user1={'Name':'Praneetha','Age':18,'EmailID':'praneethamadala01@gmail.com','Mobile no':'9381067301'}
print(len(user1))
user1['Address'] = 'Hyderabad'
print(len(user1))

4
5

In [69]:
user1={'Name':'Praneetha','Age':18,'EmailID':'praneethamadala01@gmail.com','Mobile no':'9381067301'}
print(str(user1))

TypeError: 'str' object is not callable

In [71]:
user1={'Name':'Praneetha','Age':18,'EmailID':'praneethamadala01@gmail.com','Mobile no':'9381067301'}
user2=user1.copy()

print(user1)
print(user2)
user1['Address'] = 'Hyderabad'
print(user1)
print(user2)

{'Name': 'Praneetha', 'Age': 18, 'EmailID': 'praneethamadala01@gmail.com', 'Mobile no': '9381067301'}
{'Name': 'Praneetha', 'Age': 18, 'EmailID': 'praneethamadala01@gmail.com', 'Mobile no': '9381067301'}
{'Name': 'Praneetha', 'Age': 18, 'EmailID': 'praneethamadala01@gmail.com', 'Mobile no': '9381067301', 'Address': 'Hyderabad'}
{'Name': 'Praneetha', 'Age': 18, 'EmailID': 'praneethamadala01@gmail.com', 'Mobile no': '9381067301'}

In [72]:
user1={'Name':'Praneetha','Age':18,'EmailID':'praneethamadala01@gmail.com','Mobile no':'9381067301'}
print(user1.items())

dict_items([('Name', 'Praneetha'), ('Age', 18), ('EmailID', 'praneethamadala01@gmail.com'), ('Mobile no', '9381067301')])

In [73]:
user1={'Name':'Praneetha','Age':18,'EmailID':'praneethamadala01@gmail.com','Mobile no':'9381067301'}
print(user1.values())

dict_values(['Praneetha', 18, 'praneethamadala01@gmail.com', '9381067301'])

## string Formatting
%s %d

In [79]:
print('abcdefcdghcd'.split('cd'))

['ab', 'ef', 'gh', '']

In [76]:
print('Hello!2@#World'.istitle())

True

In [78]:
print('1.1'.isnumeric())

False

## Examples

In [80]:
lst = ['Python','Programming']
print("%s %s "%(lst[0],lst[1]))

Python Programming

In [113]:
lst = ['Python','Programming']
print("{0} {1}".format(lst[0],lst[1]))

Python Programming

In [85]:
contact = {}
def addContact(name,number):
    #verify that the contact doesnot already exists
    if name not in contact:
        contact[name] = number
        print("contact %s added" %name)
    else:
        print("contact %s already exists" %name)
    return
addContact("Praneetha",9381067301)
addContact("Praneetha",938106254636)
addContact("Sunayana",9948011655)

contact Praneetha added
contact Praneetha already exists
contact Sunayana added

In [95]:
## search for a particular contact from contacts list


def searchContact(name):
    if name in contact:
        print(name, " : " ,contact[name])
    else:
        print("%s does not exists" % name)
        return
searchContact("Praneetha")
searchContact("Sunayana")

Praneetha  :  9381067301
Sunayana  :  9948011655

## New contact given as dictionary
## Merge new contact with existing contacts list

In [93]:
def importContact(newContact):
    contact.update(newContact)
    print(len(newContact.keys()),"Contact added successfully")
    return
newContact = {'Praneetha' :9381067301,'Bhavya':9381058429}
importContact(newContact)

2 Contact added successfully

In [97]:
print(contact)

{'Praneetha': 9381067301, 'Sunayana': 9948011655, 'Bhavya': 9381058429}

## Delete a contact from contacts list

In [102]:
def deleteContact(name):
    if name in contact:
        del contact[name]
        print(name,": is deleted from the contacts")
    else:
        print(name,": is not exists in the contacts")
    return
deleteContact("Praneetha")
deleteContact("Bhavya")

Praneetha : is not exists in the contacts
Bhavya : is not exists in the contacts

In [103]:
print(contact)

{'Sunayana': 9948011655}

In [110]:
def updateContact(name,number):
    if name in contact:
        contact[name]=number
        print(name," : updated with new phone number")
    else:
        print(name,"Not exists in the contacts")
        return
updateContact("Praneetha",9381065987)
updateContact("Sunayana",9955778866)

Praneetha Not exists in the contacts
Sunayana  : updated with new phone number

In [112]:
print(contact)

{'Sunayana': 9955778866}

## Packages and modules

**package**:-collection of Modules(python file.py)<br>
**sub packages**:-its part of main package<br>
**Module**:-a single python file contains set of operations(functions)<br>

*package -->sub package-->modules-->functions*

*#standard lib --math*

In [114]:
from math import floor as f1
f1(123.456)

123

In [115]:
from math import factorial as fact
fact(5)

120

In [116]:
import math
math.factorial(5)

120

## Generate the random numbers between two limits

In [121]:
import random
def generateRandomNumbers(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=" ")
    return
generateRandomNumbers(10,12,120)

33 29 120 104 88 99 116 100 119 78

In [15]:
d = {"john":40, "peter":45}
print(list(d.keys()))

['john', 'peter']