In [1]:
def printEven(n):
    cnt=0;
    sum=0;
    while(cnt!=n):
         if(cnt%2==0):
            sum=sum+cnt;
         cnt=cnt+1;
    return sum;
print(printEven(20));

90

In [2]:
def factorList(n):
    i=1;
    while(i!=n):
        if(n%i==0):
            print(i,end=" ");
        i=i+1;
    return ;
factorList(12);

1 2 3 4 6

In [1]:
list1=[1,2,3,4];
print(list1);

[1, 2, 3, 4]

In [6]:
list1=[1,2,3,4,5];
#Enter list
print(list1);
#list[0]
print(list1[0]);

[1, 2, 3, 4, 5]
1

In [13]:
list2=["Arvind","Anush"]
for x in list2:
    print(x,end=" ")

Arvind Anush

In [18]:
list1=[1,2,3,4,5,6,7,8]
for x in list1:
    print(x,end=" ")
print();
print(list1[4]);
print(list1[3:7]);

1 2 3 4 5 6 7 8
5
[4, 5, 6, 7]

In [41]:
list1=[1,2,3,4,5,6,7,8,9,10]
for x in list1:
    print(x,end="");
    
print();
print(list1[1:-1]);
print(list1[2:-2]);
print(list1[3:-3]);
print(list1[4:-4]);
print(list1[5:-5]);
print(list1[::2]);
print(list1[::3]);
print(list1[::4]);
print(list1[::5]);
print(list1[::-2]);
print(list1[::-3]);
print(list1[::-4]);
print(list1[::-5]);
print(list1[-1]);
print(list1[-2]);
print(list1[-3]);
print(list1[-4]);
print(list1[-5]);
print(list1[-6]);
print(list1[-7]);
print(list1[-8]);
print(list1[-9]);
print(list1[-10]);

12345678910
[2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8]
[4, 5, 6, 7]
[5, 6]
[]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]
[1, 5, 9]
[1, 6]
[10, 8, 6, 4, 2]
[10, 7, 4, 1]
[10, 6, 2]
[10, 5]
10
9
8
7
6
5
4
3
2
1

In [46]:
list1=["Arvind","Anush","Nitin","Rishi"]
print(list1);
list1[2]=15;
print(list1);
del list1[3];
print(list1);
list1="GITAM";
print(list1);
list2=[1,2,3];
print(list2);
print(list1+list2);

['Arvind', 'Anush', 'Nitin', 'Rishi']
['Arvind', 'Anush', 15, 'Rishi']
['Arvind', 'Anush', 15]
GITAM
[1, 2, 3]

TypeError: can only concatenate str (not "list") to str

In [50]:
list1=[1,2,3,4,5]
print(list1);
del list1[2];
print(list1);
list1[1]=15;
print(len(list1));
list1.append(15);
print(list1);

[1, 2, 3, 4, 5]
[1, 2, 4, 5]
4
[1, 15, 4, 5, 15]

In [54]:
list1=["GITAM","PYTHON","RAPTOR",1,5,"PYTHON"]
print(list1);
list1.index("PYTHON")
list1.index(1)
list1.insert(2,2019)
print(list1)
print(len(list1))
list1.insert(4,2020)
print(list1)

list1.reverse()
print(list1)

['GITAM', 'PYTHON', 'RAPTOR', 1, 5, 'PYTHON']
['GITAM', 'PYTHON', 2019, 'RAPTOR', 1, 5, 'PYTHON']
7
['GITAM', 'PYTHON', 2019, 'RAPTOR', 2020, 1, 5, 'PYTHON']
['PYTHON', 5, 1, 2020, 'RAPTOR', 2019, 'PYTHON', 'GITAM']

In [66]:
def linearsearch(a,tariteam):
    flag=0;
    for i in range(len(a)):
        if a[i]==tariteam:
            flag=1;
        break
    if(flag!=0):
             print("target iteam is found");
    else:
            print("target iteam is not found");
a=[16,2,12,6,9,7,1]
linearsearch(a,61)

target iteam is not found

In [61]:
def linearsearchDuplicate(a,tariteam):
    flag=0;
    for i in range(len(a)):
        if a[i]==tariteam:
            flag=flag+1;
        
    print(flag)
a=[16,2,12,6,9,7,1]
linearsearchDuplicate(a,9)

1

In [68]:
def linearExample1(a,tariteam):
    sum=0;
    for i in range(len(a)):
      sum=sum+a[i]
    return sum
a=[1,5,9,6,5,15,12,5]
linearExample1(a,5)# 1 4 7

58

In [ ]:
def linearformattedoutput(a):
    for i in (len(a)):